<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/head :: head('Create Post')">

</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
    <div class="container-fluid">
        <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
            <label for="title">Title:</label>
            <input id="title" class="form-control" th:field="*{title}" placeholder="Post Title..." />
            <p class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" ></p>
            <br />
            <label for="texteditor">Body:</label>
            <textarea id="texteditor" class="form-control" th:field="*{body}" placeholder="Post Body..."></textarea>
            <p class="error" th:if="${#fields.hasErrors('body')}" th:errors="*{body}" ></p>
            <br />
            <input type="submit" th:value="Submit"/>
        </form>

        <form th:action="@{/post}" th:method="get">
        <input type="submit" th:value="Cancel" />
        </form>
        <!--<script type="text/javascript">-->
            <!--var editor = textboxio.replace('#texteditor');-->
        <!--</script>-->
    </div>
<div th:include="partials/footer :: footer" ></div>
<!--textboxio-->
<script type="text/javascript">
    var editor = textboxio.replace('#texteditor');
</script>
<div th:replace="/partials/scripts :: scripts"></div>


</body>
</html>