<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/head :: head('Edit Post')"></head>

<body class="text-center">

    <div th:replace="/partials/navbar :: navbar"></div>


    <form th:action="@{/posts/{id}/edit(id=${post.id})}" method="post" th:object="${post}" >

       <h3>Title:</h3>
            <input th:id="title" th:field="*{title}" th:value="*{title}"/>

    <br />
    <h3>Body:</h3>
    <textarea th:field="*{body}" th:value="*{body}"></textarea>
    <br />
        <input type="hidden" th:field="*{id}" th:value="*{id}"/>
    <input type="submit" value="Edit"/>
    </form>


    <form th:action="@{'/posts/' + ${post.id} + '/delete'}" th:method="post" th:object="${post}">
        <input th:field="*{id}" type="hidden" />
        <input type="submit" value="Delete"/>
    </form>


    <form th:action="@{/posts}" th:method="get">
        <input type="submit" th:value="Cancel" />
    </form>



    <div th:include="partials/footer :: footer" ></div>
    <div th:replace="/partials/scripts :: scripts"></div>

</body>
</html>