<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <form th:action="@{/posts/edit(id=${post.id})}" method="post" th:object="${post}" >
    <!--<form th:action="@{/posts/{id}/edit}" method="post" th:object="${post}" >-->

    Title:
    <input th:field="*{title}" th:value="*{title}"/>
    <br />
    Description:
    <textarea th:field="*{body}" th:value="*{body}"></textarea>
    <br />
        <input type="hidden" th:field="*{id}" th:value="*{id}"/>
    <input type="submit" value="Edit"/>
    </form>
</body>
</html>