<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/head :: head(${post.title})"></head>

<body>

<div th:replace="partials/navbar :: navbar"></div>

<div class="container">
    <div class="col-12">
        <div class="text-center
">
            <h1>Post</h1>

            <h3><span th:text="${post.title}"></span></h3>
            <span th:utext="${post.body}"></span>

            <!--<span th:text="${user.email}"></span>-->
            <!--<p>Email <span th:text="${post.user.email}"></span></p>-->
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{'/posts/' + ${post.id} + '/edit'}" th:method="get" >
                    <input type="submit" th:value="Edit"/>
                </form>
            </div>
        </div>
    </div>
</div>


    <div th:include="partials/footer :: footer" ></div>
    <div th:replace="/partials/scripts :: scripts"></div>
</body>
</html>