<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Navbar</title>
</head>
<body>


        <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/home">Spring Blog Demo</a>

                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown"
                            aria-expanded="false"
                            aria-label="Toggle navigation">

                        <span class="navbar-toggler-icon"></span>

                    </button>



                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/home"> Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/roll-dice">Roll Dice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/posts">Blog Posts</a>
                        </li>

                    </ul>
                    <!--<form class="form-inline my-2 my-lg-0">-->
                        <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>-->
                        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                    <!--</form>-->






                    <!--<form th:action="@{/logout}" th:method="post">-->
                        <!--<button class="btn-link btn">Logout</button>-->
                    <!--</form>-->
                </div>
            </div>
            <!--<div class="dropdown-menu">-->
                <!--<a class="dropdown-item" href="/users/login">Action</a>-->
                <!--<a class="dropdown-item" href="#">Another action</a>-->
                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                <!--<div class="dropdown-divider"></div>-->
                <!--<a class="dropdown-item" href="/users/sign-up">Separated link</a>-->
            <!--</div>-->
        </nav>

</body>
</html>
