<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navbar</title>
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <!--<div class="navbar-header">-->
                    <!--<a class="navbar-brand" href="/home">Spring Blog Demo</a>-->
                    <!--</div>-->
                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="../roll-dice">Roll Dice</a>
                        </li>
                    </ul>

                </div>
                    <ul class="nav navbar-nav ">
                        <li><a class="nav-link disabled" href="/login">Login</a></li>
                        <li><a class="nav-link disabled"  href="/logout">Logout</a></li>
                    </ul>
                    </div>
                 </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
</body>
</html>
