<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Ooops, ' + ${error}"></title>
</head>
<body>
<th:block th:switch="${error}">
    <div th:case="'Not Found'">
        <h1>Page not found!!</h1>
    </div>
    <div th:case="'Forbidden'">
        <h1>You don't have permission to view this page.</h1>
    </div>
</th:block>
<!--<p>Watch a video instead</p>-->
<!--<iframe >-->
    <!--&lt;!&ndash;put below in iframe&ndash;&gt;-->
        <!--&lt;!&ndash;width="420"&ndash;&gt;-->
        <!--&lt;!&ndash;height="315"&ndash;&gt;-->
        <!--&lt;!&ndash;src="https://www.youtube.com/embed/NN75im_us4k?autoplay=1"&ndash;&gt;-->
        <!--&lt;!&ndash;frameborder="0"&ndash;&gt;-->
        <!--&lt;!&ndash;allowfullscreen="allowfullscreen"&ndash;&gt;-->

<!--</iframe>-->
</body>
</html>
