<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Home Page')">

<link rel="stylesheet" href="plasmaBar.css"/>


</head>
<body>
    <!--<div th:replace="partials/header :: header"></div>-->

    <div th:class="text-center">
        <canvas id="c" width="1000%">Sorry, your browser does not support canvas.</canvas>
    </div>
    <div th:replace="partials/navbar :: navbar"></div>

    <div class="text-center">

        <div th:each="user : ${users}">
        <h3>
            Welcome <span th:text="${user}"> </span> </h3>
    </div>

        <!--<h1 >This is  <br /> the home page</h1>-->




        <div th:if="${name}">
            <h3>Welcome, <span th:text="${name}"></span>!</h3>
        </div>


    </div><!--body .text-center</div>-->






    <div th:include="partials/footer :: footer" ></div>

    <script src="/js/TimelineMax.min.js"></script>
    <script src='/js/TweenMax.min.js'></script>
    <script src='/js/jquery-2.2.4.js'></script>
    <script src='/js/browser.min.js'></script>
    <script src='/js/imagesloaded.pkgd.min.js'></script>

    <script src="/js/plasmaBar.js"></script>
</body>
</html>