<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8" />
    <title>Home Page</title>
</head>
<body>
    <div th:replace="partials/header :: header"></div>
    <div th:replace="partials/navbar :: navbar"></div>
    <div class="text-center">
        <h2>testing  auto reload</h2>
        <h3>testing again</h3>
        <h4>testing again</h4>

        <h1 >This is  <br /> the home page</h1>

        <div th:if="${name}">
            <h3>Welcome, <span th:text="${name}">World</span>!</h3>
        </div>

        <div th:each="user : ${users}">
            <h3>
                Welcome <span th:text="${user}"> </span> </h3>
        </div>
    </div><!--body .text-center</div>-->

    <!--<div>-->
        <!--<a href="/roll-dice">Roll-dice</a>-->
    <!--</div>-->
    <div th:include="partials/footer :: footer" ></div>

</body>
</html>