<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Roll Dice')">
    
    
</head>
<body>
<div th:replace="partials/header :: header" ></div>
<div th:replace="partials/navbar :: navbar"></div>

    <div class="text-center">
        
        <h1>Rolling One Die</h1>
            <h2>Guess the Number</h2>
        
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="/roll-dice/1" class="">1</a></li>
            <li role="presentation" class="active"><a href="/roll-dice/2">2</a></li>
            <li role="presentation" class="active"><a href="/roll-dice/3">3</a></li>
            <li role="presentation" class="active"><a href="/roll-dice/4">4</a></li>
            <li role="presentation" class="active"><a href="/roll-dice/5">5</a></li>
            <li role="presentation" class="active"><a href="/roll-dice/6">6</a></li>
        </ul>
        
        
        <div th:if="${guess}" >
            <h2>
                You Guessed
                <span th:text="${guess}"></span>
            </h2>
        </div>
        
       
        <div th:if="${win == false}">
            <h2>The winning number is
                <span th:text="${rnd}" ></span>
            </h2>
        </div>
        
        <div th:if="${win}" >
            <h2>
                you win
            </h2>
        </div>
    </div><!--.text-center-->
<div th:include="partials/footer :: footer" ></div>
<div th:replace="/partials/scripts :: scripts"></div>
</body>
</html>